html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.app {
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid #F5DEB3;
    padding: 15px;
}

.menu {
    padding: 0;
}

.menu li {
    display: inline-block;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

#address-list {
    width: 100%;
}
#address-list thead {
    font-weight: bold;
}

.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}


.pure-table td:first-child,
.pure-table th:first-child {
    border-left-width: 0;
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}


.pure-table td {
    background-color: transparent;
}